<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>It's me, Cristian</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <!--<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- BootStrap Link-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  


</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Cristian C. Spagnuolo</a></h1>
        <div class="social-links mt-3 text-center">
          
          <a href="https://www.linkedin.com/in/cristian-c-spagnuolo/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/cris96spa" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://wa.me/393395869455" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
          <a href="https://www.instagram.com/cris_spagn/" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Skills</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Cristian C. Spagnuolo</h1>
      <p>I'm a <span class="typed"
          data-typed-items="AI Engineer, ML Engineer, Software Engineer, Computer Scientist."></span></p>
    </div>

  </section><!-- End Hero -->




  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am a Computer Scientist with experience in Python, especially in the field of artificial intelligence and cybersecurity, 
            C++, Java, as well as a range of other skills including full
            stack development, JavaScript, Bootstrap, and Django. Having recently graduated with a Master’s degree in Computer Science and Engineering
            at Politecnico di Milano on July the 16th, 2024, I am eager to bring my academic insights and technical skills to your innovative team.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/favicon.png' %}" class="rounded-img img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>AI Engineer &amp; ML Engineer</h3>
            <p class="fst-italic">
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
					<li><i class="bi bi-chevron-right"></i> <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/cristian-c-spagnuolo/" target="_blank" class="custom-link">cristian-c-spagnuolo</a></li>
                  	<li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <a href="tel:+393395869455" class="custom-link">+39 3395869455</a></li>

                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong><a href="mailto:cristian.c.spagnuolo@gmail.com" class="custom-link">cristian.c.spagnuolo@gmail.com</a></li>

                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master in Computer Science</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Milan, Italy</span></li>
				  <li><i class="bi bi-chevron-right"></i> <strong>GitHub:</strong><a href="https://github.com/cris96spa" target="_blank" class="custom-link">cris96spa</a></li>
                </ul>
              </div>
            </div>
            <p>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- Skills Section -->
	<section id="skills" class="skills section-bg">
		<div class="container">
	
		<div class="section-title">
			<h2>Skills</h2>
			<p>A brief overview of my skills and proficiency levels across different technologies.</p>
		</div>
	
		<!-- Filter Buttons -->
		<div class="row" data-aos="fade-up">
			<div class="col-lg-12 d-flex justify-content-center">
			<ul id="skills-filters">
				<li class="filter-active" data-filter="*" >All</li>
				{% for skill_cat in skill_categories %}
				<li data-filter=".filter-{{ skill_cat.tag }}">{{ skill_cat.name }}</li>
				{% endfor %}
			</ul>
			</div>
		</div>
	
		<!-- Skills Content -->
		<div class="row skills-content" data-aos="fade-up" data-aos-delay="100">
			{% for skill in skills %}
			<div class="col-lg-6 portfolio-item filter-{{ skill.category.tag }}">
			<div class="progress">
				<span class="skill">{{ skill.name }} <i class="val">{{ skill.level }}%</i></span>
				<div class="progress-bar-wrap">
				<div class="progress-bar" role="progressbar" style="width: {{ skill.level }}%" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			</div>
			{% endfor %}
		</div>
	
		</div>
	</section>
  <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Cristian C. Spagnuolo</h4>
              <p><em></em></p>
              <ul>
                <li>Milan, Italy</li>
				<li><a href="tel:+393395869455" class="custom-link">+39 3395869455</a></li>
  				<li><a href="mailto:cristian.c.spagnuolo@gmail.com" class="custom-link">cristian.c.spagnuolo@gmail.com</a></li>
  				<li>LinkedIn: <a href="https://www.linkedin.com/in/cristian-c-spagnuolo/" class="custom-link" target="_blank">cristian-c-spagnuolo</a></li>
  				<li>GitHub: <a href="https://github.com/cris96spa" target="_blank" class="custom-link">cris96spa</a></li>
              </ul>
            </div>

            {% comment %}<h3 class="resume-title">Professional Experience</h3>
             <div class="resume-item">
              <h4>Qui deserunt  &amp; dignissimos</h4>
              <h5>2020 - 2024</h5>
              <p><em>Et sed aliquam labore tempore sed quisquam</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui
                ut dignissimos deleniti nerada porti sand markend</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Technology</h4>
              <h5>2010 - 2014</h5>
              <p><em>PRIST Deemed to be University</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius
                unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart
                dila</p>
            </div> {% endcomment %}
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master Degree in Computer Science</h4>
              <h5>2020 - 2024</h5>
              <p><em>Politecnico di Milano, Italy </em></p>
              <ul>
                <li>110/110 cum laude</li>
            
              </ul>
            </div>
            <div class="resume-item">
              <h4>Bachelor Degree in Computer Science</h4>
              <h5>2015-2019</h5>
              <p><em>Università degli Studi del Sannio, Benevento, Italy</em></p>
              <ul>
                <li>110/110 cum laude</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center ">
			<div class="row">
			  <div data-aos="fade-up">
				<a class="btn btn-primary download-button text-center" href="{% static 'resume/Cristian_Spagnuolo_Resume.pdf' %}" download>
					<i class="fas fa-download"></i> Download Resume
				</a>
			  </div>
			</div>
		</div>



      </div>
    </section><!-- End Resume Section -->


    <!-- Projects Section -->
<section id="portfolio" class="portfolio section-bg">
	<div class="container">
	  <div class="section-title">
		<h2>Projects</h2>
		<p>Here you can find my personal portfolio. Each project shows my ability to leverage advanced technologies and 
			innovative approaches, ranging from machine learning to computer security.</p>
	  </div>
  
	  <!-- Filter Buttons -->
	  <div class="row" data-aos="fade-up">
		<div class="col-lg-12 d-flex justify-content-center">
		  <ul id="portfolio-filters">
			<li data-filter="*" class="filter-active">All</li>
			{% for category in categories %}
			  <li data-filter=".filter-{{ category.tag }}">{{ category.name }}</li>
			{% endfor %}
		  </ul>
		</div>
	  </div>
  
	  <!-- Projects -->
	  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
		{% for project in projects %}
		  <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.category.tag }}">
			<div class="card-container">
			  <div class="card item {% if project.is_reference %}highlighted{% endif %}" data-flipped="false">
				<div class="front">
				  <div class="spacer">
					<img src="{% static 'img/categories/' %}{{ project.img }}" alt="{{ project.name }}" class="image">
				  </div>
				  <div class="text">
					{% if project.category.tag %}
					  <span class="h4 tag">{{ project.category.name }}</span>
					{% endif %}
					<h3 class="title">{{ project.name }}</h3>
          <div class="description">
              {{ project.description }}
          </div>
				  </div>
				  <a href="{{ project.github_link }}" class="btn btn-secondary github-link" target="_blank"><i class="fab fa-github"></i> View on GitHub</a>
				</div>
			  </div>
			</div>
		  </div>
		{% endfor %}
	  </div>
	</div>
  </section>
  <!-- End Project Section -->


          <!-- ======= Contact Section ======= -->
          <section id="contact" class="contact">
            <div class="container">

              <div class="section-title">
                <h2>Contact</h2>
                <p>Thank you for visiting and spending your valuable time with us. I hope you found what you were looking for.

                  I am always open to work on challenging operations and put my skills to use. If you are in need of someone with my skills and experience, please don't hesitate to contact me. I am confident that I can contribute value to your team and help achieve your business goals.
                  
                  I am  look forward to hearing from you soon.</p>
              </div>

              <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                  <div class="info">
                    <div class="address">
                      <i class="bi bi-geo-alt"></i>
                      <h4>Location:</h4>
                      <p>Milan, Italy</p>
                    </div>

                    <div class="email">
                      <i class="bi bi-envelope"></i>
                      <h4>Email:</h4>
                      <a href="mailto:cristian.c.spagnuolo@gmail.com" class="custom-link-contact">cristian.c.spagnuolo@gmail.com</a>
                    </div>

                    <div class="phone">
                      <i class="bi bi-phone"></i>
                      <h4>Call:</h4>
                      <a href="tel:+393395869455" class="custom-link-contact">+39 3395869455</a>
                    </div>

                    <div class="linkedin">
                      <i class="bi bi-linkedin"></i>
                      <h4>LinkedIn:</h4>
                      <a href="https://www.linkedin.com/in/cristian-c-spagnuolo/" class="custom-link-contact" target="_blank">cristian-c-spagnuolo</a>
                    </div>
					
					<div class="github">
						<i class="bi bi-github"></i>
						<h4>GitHub:</h4>
						<a href="https://github.com/cris96spa" class="custom-link-contact" target="_blank">cris96spa</a>
					  </div>
                  </div>

                </div>


			<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
				<form action="/#contact" method="post" class="php-email-form">
					{% csrf_token %}
					<div class="row">
					<div class="form-group col-md-6">
						<label for="name">Your Name</label>
						<input type="text" name="name" class="form-control" id="name" required>
					</div>
					<div class="form-group col-md-6">
						<label for="email">Your Email</label>
						<input type="email" class="form-control" name="email" id="email" required>
					</div>
					</div>
					<div class="form-group">
					<label for="subject">Subject</label>
					<input type="text" class="form-control" name="subject" id="subject" required>
					</div>
					<div class="form-group">
					<label for="message">Message</label>
					<textarea class="form-control" name="message" id="message" required></textarea>
					</div>
					<div class="my-3">
					<div class="loading">Loading...</div>
					<div class="error-message"></div>
					<div class="sent-message">Your message has been sent. Thank you!</div>
					</div>
					<div class="text-center"><button type="submit" class="btn btn-primary">Submit</button></div>
				</form>
				</div>

              </div>

            </div>
          </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="container">
      <div class="credits">
        &copy; Copyright <strong><span><a href="https://www.linkedin.com/in/cristian-c-spagnuolo/" target="_blank" class="credits copyright-link">Cristian C. Spagnuolo</span></a></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.show-more').forEach(button => {
        button.addEventListener('click', function() {
            const card = button.closest('.card');
            console.log("Before toggle:", card.classList); // Debugging line
            card.classList.toggle('flipped');
            console.log("After toggle:", card.classList); // Debugging line
        });
    });

    document.querySelectorAll('.show-less').forEach(button => {
        button.addEventListener('click', function() {
            const card = button.closest('.card');
            card.classList.toggle('flipped');
        });
    });
});
    </script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

  <!--Boot Strap link-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

</body>

</html>